include ../../forms-elements/__rate-button/rate-button.pug
mixin desc-room( data )
  .desc-room  
    .desc-room__wrap
      .desc-room__slider
        ul.desc-room__container
          each imgSrc, index in data.imgLink
            li.desc-room__item
              img.desc-room__img(src=imgSrc alt=data.desc name=data.name data-id=index)
        .desc-room__dots-wrap
      .desc-room__wrap-desc
        .desc-room__wrap-number-price
          .desc-room__wrap-number
            span.desc-room__number-room=data.number
            span.desc-room__type=data.type
          .desc-room__wrap-price
            span.desc-room__cost-per-day=data.price 
            span.desc-room__cost-day в сутки
        .desc-room__rating-wrap
          +rate-button({name: "rating-room-"+data.number, numroom: data.number})
          .desc-room__wrap-feedback
            span.desc-room__feedback=data.feedback 
            span.desc-room__feedback-text  Отзывов

