mixin radio-buttons( data )
  .radio-buttons
    .radio-buttons__wrap 
      label.radio-buttons__label 
        if data.checked
          input.radio-buttons__input(type="radio" name=data.name value=data.value checked=true)
        else
          input.radio-buttons__input(type="radio" name=data.name value=data.value checked=false)
        .radio-buttons__icon
        span.radio-buttons__text= data.text