include ../__title-element/title-element.pug
mixin text-field( data )
  +title-element({title: data.title, subtitle: data.subtitle})
  .text-field
    if data.hover
      input.--hover(type='text' placeholder=data.placeholder value=data.value name=data.name)
    else if data.type
      input(type=data.type placeholder=data.placeholder value=data.value name=data.name)
    else
      input(type='text' placeholder=data.placeholder value=data.value name=data.name)
      