mixin checkbox-list( data )
  if data.visible
    .checkbox-list
      .checkbox-list__wrap
        +title-element({title: data.title})
        i.checkbox-list__icon.checkbox-list__icon--rotate
        .checkbox-list__overlay
        .checkbox-list__list.checkbox-list__list--visible
          +checkbox-item({name: `${data.name}`, value: "breakfast", text: "Завтрак", checked: false})
          +checkbox-item({name: `${data.name}`, value: "desk", text: "Письменный стол", checked: true})
          +checkbox-item({name: `${data.name}`, value: "chair", text: "Стул для кормления", checked: true})
          +checkbox-item({name: `${data.name}`, value: "cot", text: "Кроватка", checked: true})
          +checkbox-item({name: `${data.name}`, value: "tv", text: "Телевизор", checked: false})
          +checkbox-item({name: `${data.name}`, value: "shampoo", text: "Шампунь", checked: false})
          +checkbox-item({name: `${data.name}`, value: "tv2", text: "Телевизор", checked: false})
          +checkbox-item({name: `${data.name}`, value: "shampoo2", text: "Шампунь", checked: false})
  else
    .checkbox-list
      .checkbox-list__wrap
        +title-element({title: data.title})
        i.checkbox-list__icon
        .checkbox-list__overlay
        .checkbox-list__list
          +checkbox-item({name: `${data.name}`, value: "breakfast", text: "Завтрак", checked: false})
          +checkbox-item({name: `${data.name}`, value: "desk", text: "Письменный стол", checked: true})
          +checkbox-item({name: `${data.name}`, value: "chair", text: "Стул для кормления", checked: true})
          +checkbox-item({name: `${data.name}`, value: "cot", text: "Кроватка", checked: true})
          +checkbox-item({name: `${data.name}`, value: "tv", text: "Телевизор", checked: false})
          +checkbox-item({name: `${data.name}`, value: "shampoo", text: "Шампунь", checked: false})
          +checkbox-item({name: `${data.name}`, value: "tv2", text: "Телевизор", checked: false})
          +checkbox-item({name: `${data.name}`, value: "shampoo2", text: "Шампунь", checked: false})