mixin toggle( data )
  .toggle
    label.toggle__label 
      if data.checked
        input(type="checkbox" name=data.name checked=true)
      else
        input(type="checkbox" name=data.name checked=false)
      .toggle__icon
      span= data.text
