mixin like-button( data )
  .like-button
    label.like-button__label.js__like-button
      if data.checked
        input(type="checkbox" name=`${data.userName}-likebtn` checked=true value = `${data.num}`)
      else
        input(type="checkbox" name=`${data.userName}-likebtn` checked=false  value = `${data.num}`)
      .like-button__wrap-btn
        span.like-button__icon 
        .like-button__num= data.num