mixin rate-button( data )
  .rate-button
    .rate-button__wrap-star
      input.rate-button__input-star(type="radio" name=data.name value="5" data-user=data.user)
      input.rate-button__input-star(type="radio" name=data.name value="4" data-user=data.user)
      input.rate-button__input-star(type="radio" name=data.name value="3" data-user=data.user)
      input.rate-button__input-star(type="radio" name=data.name value="2" data-user=data.user)
      input.rate-button__input-star(type="radio" name=data.name value="1" data-user=data.user)
