mixin rate-button( data )
  .rate-button
    .rate-button__wrap-star
      input.rate-button__input-star(type="radio" name=data.name value="5")
      input.rate-button__input-star(type="radio" name=data.name value="4")
      input.rate-button__input-star(type="radio" name=data.name value="3")
      input.rate-button__input-star(type="radio" name=data.name value="2")
      input.rate-button__input-star(type="radio" name=data.name value="1")
