mixin rate-button( data )
  .rate-button
    .rate-button__wrap-star
      - for(let i = 5; i>0; i--)
          if data.rate == i
            input(type="radio" id="star-"+i+"-"+data.numroom name=data.name value=i data-numroom=data.numroom checked)
          else
            input(type="radio" id="star-"+i+"-"+data.numroom name=data.name value=i data-numroom=data.numroom)
          label(for="star-"+i+"-"+data.numroom)