mixin rich-checkbox-buttons( data )
  .rich-checkbox-btn
    label.rich-checkbox-btn__label 
      if data.checked
        input(type="checkbox" name=data.name value=data.value checked=true)
      else
        input(type="checkbox" name=data.name value=data.value checked=false)
      .rich-checkbox-btn__icon 
      .rich-checkbox-btn__head=data.head
        .rich-checkbox-btn__desc=data.desc

